<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332975599337-pl5dvflqaaegbbqjjgm35d6an82s4hmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332975599337-pl5dvflqaaegbbqjjgm35d6an82s4hmu</string>
	<key>API_KEY</key>
	<string>AIzaSyB2544U8rJJsq05WklT40SOyN4Wl8Ghj-E</string>
	<key>GCM_SENDER_ID</key>
	<string>332975599337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surge2023App</string>
	<key>PROJECT_ID</key>
	<string>surge-2023-d97f9</string>
	<key>STORAGE_BUCKET</key>
	<string>surge-2023-d97f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332975599337:ios:029aa91bb783f7ae510a78</string>
</dict>
</plist>